.t {
    width: 100%;
    height: 100px;
    background-color: rgb(33, 159, 191);
}

.t-l {
    width: 20%;
    height: 100%;
    background-color: rgb(159, 136, 149);
    float: left;
}

.t-c {
    width: 50%;
    height: 100%;
    background-color: rgb(157, 27, 223);
    float: left;
}

.t-r {
    width: 30%;
    height: 100%;
    background-color: rgb(57, 124, 174);
    float: left;
}

.t-r-t {
    width: 100%;
    height: 20%;
    background-color: rgb(103, 101, 164);
}

.t-r-m {
    width: 100%;
    height: 40%;
    background-color: rgb(108, 163, 213);
}

.t-r-b {
    width: 100%;
    height: 40%;
    background-color: rgb(186, 133, 125);
}

.m {
    width: 100%;
    height: 500px;
    background-color: rgb(60, 209, 30);
}

.b {
    width: 100%;
    height: 150px;
    background-color: rgb(233, 27, 91);
}